*,
*::before,
*::after {
  box-sizing: border-box;
}
#root,
#__next {
  isolation: isolate;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
*:focus-visible {
  outline: 2px solid #005fcc;
  outline-offset: 2px;
}
*:focus:not(:focus-visible) {
  outline: none;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
ul[role="list"],
ol[role="list"],
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
ol,
ul {
  padding-left: 1.5rem;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* CSS reset  */
body {
  line-height: normal;
  background-color: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 16px;
}

/* SEO Overview Styles */
section-seo-overview {
  display: flex;
  width: 100%;
  padding: 50px;
}

.section-seo-sidebar {
  width: 250px;
  background-color: #e5f1e0;
  padding: 47px 15px;
  border-right: 1px solid #ccc;
}

.section-seo-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.section-seo-sidebar ul li {
  margin: 10px 0;
  width: 220px; /* Set fixed width for each list item */
}

.section-seo-sidebar ul li a {
  text-decoration: none;
  color: #000; /* Updated text color */
  text-align: center; /* Center-align the text */
  font-family: Roboto; /* Updated font family */
  font-size: 20px; /* Updated font size */
  font-style: normal; /* Updated font style */
  font-weight: 300; /* Updated font weight */
  line-height: normal; /* Updated line height */
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis if text overflows */
}

.section-seo-sidebar ul li a:hover,
.section-seo-sidebar ul li a:focus,
.section-seo-sidebar ul li a.active {
  background-color: #54c13d;
  color: #ffffff;
}

.section-seo-content {
  padding: 20px;
  flex-grow: 1;
  background-color: whitesmoke;
}

.section-seo-content > div {
  display: none;
}

.section-seo-content > div.active {
  display: block;
}

