*,
*::before,
*::after {
  box-sizing: border-box;
}
#root,
#__next {
  isolation: isolate;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
*:focus-visible {
  outline: 2px solid #005fcc;
  outline-offset: 2px;
}
*:focus:not(:focus-visible) {
  outline: none;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
ul[role="list"],
ol[role="list"],
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
ol,
ul {
  padding-left: 1.5rem;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* CSS reset  */
body {
  line-height: normal;
  background-color: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 16px;
}

/* why-choose */
.container {
  width: 90rem; 
  display: flex;
  align-items: center; 
  position: relative;
  margin: 0 auto;
  padding: 20px;
}

.why-choose-container{  
  background-color: #fff;
  display: flex;
  padding: 0 auto;
  display: flex;

}
.why-choose-title{
  flex: 1;
  background-image: url(../images/icons/4th/whychoose-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; 
  position: relative;
  width: 720px;
  height: 700px;
}
.why-choose-h2{  
  padding-top: 40px;
  padding-left: 40px;
  text-align: left;
  font-size: 18px;
  justify-content: left;
  color: #fff;
  font-family: "Poppins";
}
.why-choose-details {
  width: 720px;
  height: 700px;
  padding: 60px;
}
.highlight {
  color: #009688;
  font-weight: bold;
}
.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #ff9800;
  color: #ffffff;
  text-decoration: none;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer; 
}

.feedback-container{
  background-color: #FAF7F0;
  display: flex;
  margin-top: 0;
}

.feedback-intro {
  width: 720px;
  height: 700px;
  padding: 60px;
}
.feedback-title{
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-family: "Rosario";
}
.fds-con {
  width: 720px;
  height: 700px;
  margin: 10px auto;
}

.carousel {
  position: relative;
  overflow: hidden; 
}

.fd-slider {
  display: flex;
  width: calc(100% * 3); 
  transition: transform 0.3s ease; 
}

.fds {
  flex: 0 0 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 100%;
  padding-left: 100px;

}

.controls .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}
